@model List<Slider>

<div class="row mb-3">
    <div class="d-flex justify-content-between ">
        <h4 class="text-light">
            Slider  Yönetimi
        </h4>
        <a asp-controller="Slider" asp-action="Create" class="btn btn-light">
            + Yeni Slider Ekle
        </a>
    </div>
</div>

<section>
    @foreach (var item in Model)
    {
        <div class="d-flex align-items-center justify-content-between bg-mirage border border-secondary w-100 rounded-3 p-3 mb-3">

            <div class="d-flex align-items-center gap-3 text-light" style="width: 340px">
                @item.Order
                <img src="@Url.Action("GetSliderImage", "Media", new { area = "", id = item.Id })"
                     class="rounded-3"
                     width="130" />

                <div class="text-truncate">
                    @item.Title
                </div>
            </div>

            <div class="d-flex align-items-center h-100">
                <div class="form-check form-switch ps-0">
                    <input class="form-check-input fs-4 m-0"
                           type="checkbox"
                           @(item.IsActive ? "checked" : "")
                           disabled>
                </div>
            </div>

            <div class="d-flex gap-2">
                <a asp-controller="Slider" asp-action="Edit" asp-route-id="@item.Id">
                    <div class="d-flex align-items-center justify-content-center border border-secondary rounded-3" style="width: 40px; height: 40px;">
                        <i class="bi bi-pencil text-light"></i>
                    </div>
                </a>
                <form asp-controller="Slider" asp-action="Delete" asp-route-id="@item.Id" method="post" class="d-inline">
                    <button type="submit" class="border-0 p-0 bg-transparent">
                        <div class="d-flex align-items-center justify-content-center border border-secondary rounded-3 bg-danger" style="width: 40px; height: 40px;">
                            <i class="bi bi-trash text-light"></i>
                        </div>
                    </button>
                </form>

            </div>
        </div>
    }
</section>